$transparentBlack2: rgba(0, 0, 0, 0.2);
$transparentBlack3: rgba(0, 0, 0, 0.3);
$danger: #b71c1c;

$primary1: #0277bd;
$primary2: #0288d1;

$borderRadius: 4px;

$werewolves: $danger;
$werewolvesLight: #ffebee;
$villagers: #0d47a1;
$villagersLight:  #e3f2fd;
$special: #4a148c;
$specialLight: #f3e5f5;

$night: #1a237e;

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    margin-bottom: 1rem;
    text-shadow: 1px 1px 0px $transparentBlack2;
}

h3 {
    margin-top: 0;
}

hr {
    margin: 1rem;
}

.flex {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    border: 0.063rem solid #90a4ae;
    border-radius: $borderRadius;
    box-shadow: 1px 1px 3px $transparentBlack2;
    margin: 0.75rem 0.75rem;
    padding: 1rem 1.25rem;
    max-width: 40em;
    text-align: left;
    vertical-align: top;
    flex-grow: 1;
}

.card-title {
    text-align: center;
}

.secret-card {
    border: 1px dashed $transparentBlack2;
    border-radius: $borderRadius;
    padding: 0.25rem 0.5rem;
}

.list {
    list-style-type: none;
    font-size: 1.1rem;
    padding-left: 1.25rem;
    margin-bottom: 0;
}

.alert {
    border: 0.063rem solid $danger;
    border-radius: $borderRadius;
    box-shadow: 1px 1px 5px rgba($danger, 0.3);
    color: $danger;
}

.button {
    border-radius: $borderRadius;
    box-shadow: 1px 1px 5px $transparentBlack2;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9375rem;
    margin-bottom: 0.625rem;
    margin-top: 0.938rem;
    width: 100%;
}

.button:active {
    position: relative;
    top: 1px;
}

.btn-primary {
    box-shadow: 1px 1px 5px $transparentBlack2, inset 0px 1px 0px 0px #03a9f4;
    background: linear-gradient(to bottom, $primary2 5%, $primary1 100%);
    border: 1px solid #124d77;
    color: #fff;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
}

.btn-primary:hover {
    background: linear-gradient(to bottom, $primary1 5%, $primary2 100%);
}

.btn-primary:active {
    box-shadow: 1px 1px 2px $transparentBlack2, inset 0px 1px 0px 0px #03a9f4;
}

.btn-outline {
    background: linear-gradient(to bottom, #fff 5%, #e1f5fe 100%);
    border: 1px solid #124d77;
    color: #000;
    padding: 6px 24px;
    text-decoration: none;
}

.btn-outline:hover {
    background: linear-gradient(to bottom, #e1f5fe 5%, #fff 100%);
}

.btn-outline:active {
    box-shadow: 1px 1px 2px $transparentBlack2;
}

.large {
    font-size: 1.5rem;
}

.small {
    font-size: 0.75rem;
}

input,
select {
    display: block;
    width: 100%;
    border: 0.188rem solid #b2ebf2;
    border-radius: $borderRadius;
    padding: 0.625rem 0.75rem;
    margin: 0.5rem 0;
    margin-top: 0;
    margin-bottom: 0.938rem;
    box-sizing: border-box;
    font-size: 1rem;
}

.custom-select {
    width: 100%;
}

/* Werewolf-specific style */

.roles-list {
    align-items: stretch;
}

.role-card {
    border-radius: $borderRadius;
    margin: 0.3rem 0.4rem;
    padding: 0.7rem;
    flex-basis: 10rem;
    flex-grow: 1;
}

.action-card {
    background: linear-gradient(to bottom, #fff 5%, #e1f5fe 100%);
    border-radius: $borderRadius;
    border: 1px solid #9e9e9e;
    box-shadow: 1px 1px 4px $transparentBlack3;
    cursor: pointer;
    margin: 0.3rem 0.4rem;
    min-width: 6rem;
    padding: 7px;
    text-align: center;
}

.action-card:hover {
    background: linear-gradient(to bottom, #e1f5fe 5%, #fff 100%);
    box-shadow: 1px 1px 2px $transparentBlack3;
}

.action-card:active {
    box-shadow: inset 0 0 0.25em $transparentBlack3;
    position: relative;
    top: 1px;
}

.selected {
    background: linear-gradient(to bottom, #e8f5e9 5%, #c8e6c9 100%);
    border: 1px solid #2e7d32;
}

.selected:hover {
    background: linear-gradient(to bottom, #e8f5e9 5%, #c8e6c9 100%);
}

.werewolves {
    border: solid 1px $werewolves;
    background-color: $werewolvesLight;
    box-shadow: 1px 1px 2px rgba(183, 28, 28, 0.3);
}

.werewolves-text {
    color: $werewolves;
}

.villagers {
    background-color: $villagersLight;
    border: solid 1px $villagers;
    box-shadow: 1px 1px 2px rgba($villagers, 0.3);
}

.villagers-text {
    color: $villagers;
}

.special {
    background-color: $specialLight;
    border: solid 1px $special;
    box-shadow: 1px 1px 2px rgba($special, 0.3);
}

.special-text {
    color: $special;
}

.night {
    border: solid 1px $night;
}

.day {
    border: solid 1px #f57f17;
}
